*.sln
*.vscode
*.pyproject
*.exe
*.o
*.pyc


**/.dist/**
**/Playground/**
**/.vs/**
**/.mypy-cache/**
**/.ipynb_checkpoints/**
**/.idea/**
**/.env/**
**/.venv/**
**/env/**
**/venv/**
**/ENV/**
**/env.bak/**
**/venv.bak/**
**/__pycache__/**